<h1>Listing projects</h1>

<div id="projects">
  <%= render :partial => @projects %>
</div>

<p><b>New project</b></p>
<% form_remote_for(Project.new) do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

