<table cellspacing="0" id="dashboard">
    <tr style="position: relative;">
        <td>
            <span>Stories</span>
        </td>
        <td>
            <span>To Do</span>
        </td>
        <td>
            <span>In Progress</span>
        </td>
        <td>
            <span>Done</span>
        </td>
    </tr>
     <%= render :partial => @project.stories %>
    <!-- nova historia -->
    <tr>
      <td >
        <a href="javascript:void(0);">New story</a>
      </td>
    </tr>
</table>

