
<% div_for story do %>

 <tr style="position: relative;">
      <td>
        <%=h story.name %>
      </td>
      <td><!-- To Do -->
        <div id="taks_drop">
          <% story.tasks.each do |task| %>
            <%=h task.description %>
          <% end %>
      </div>
      </td>
      <td><div id="taks_drop2" style="position: relative;">&nbsp;</div><!-- In Progress --></td>
      <td id="taks_drop3"><!-- Done --></td>
    </tr>

<% end %>

