<% div_for story do %>

<p>
  <b>Name:</b> <%=h story.name %>
  <%= link_to 'Remove', project_story_path(@project, story), :confirm => 'Are you sure?',
  :method => :delete, :action => "destroy" %>
  <%=

 %>
</p>

<% end %>

